* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.package {
  margin-top: 1.2rem;
  padding: 10% 10%;
}
.package h3 {
  font-size: 29px;
  padding: 15px 0px;
}
.package p {
  padding-bottom: 15px;
}

.content {
  width: 100%;
}

.bottom span {
  color: var(--colorgreen);
}
.bottom table {
  width: 100%;
  padding: 15px 0px;
}

.bottom .location-all span {
  font-size: 13pt;
}

.bottom .duration-all span {
  font-size: 13pt;
}

.bottom .price-all span {
  font-size: 13pt;
}

/*------location-duration end------*/

/*------Package buy now------*/
.package .content a {
  position: relative;
  margin: 40 0px 0px;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 10px;
  display: inline-block;
  color: var(--colorwhite);
  transition: 0.5s;
  transform: translateY(-40px);
  opacity: 0;
  visibility: hidden;
}

.package:hover .content a {
  transform: translateY(0px);
  opacity: 1;
  visibility: visible;
}

.package .content a:hover {
  color: var(--colorwhite);
  background-color: var(--colororange);
  border: 3px solid;
  border-color: var(--colorgreen);
}

/*---effet---*/

.package .content a {
  border: 3px solid;
  color: var(--colororange);
  cursor: pointer;
  font-size: 16px;
  position: relative;
}

.package .content a::before,
.package .content a::after {
  content: "";
  position: absolute;
  width: 14px;
  height: 3px;
  background: var(--colorgreen);
  transform: skewX(50deg);
  transition: 0.4s linear;
}

.package .content a::before {
  top: -4px;
  left: 10%;
}

.package .content a::after {
  bottom: -4px;
  right: 10%;
}

.package .content a:hover::before {
  left: 80%;
}

.package .content a:hover::after {
  right: 80%;
}

/*---effet---*/
@media only screen and (max-width: 800px) {
  .p_container {
    position: relative;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 0 40px;
  }
}
